* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

#st-header {
    background-image: url('../img/scholarship.png');
    height: 400px;
    margin: 30px 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading h1 {
    top: 100px;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    color: #8ecae6;
}

.underline1 {
    position: relative;
}

.underline1:before {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 10%;
    font-weight: 400;
    width: 80%;
    border-bottom: 1px solid #219ebc;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 150px;
}

.card {
    margin: 10px;
    margin-top: 80px;
    position: relative;
    width: 350px;
    height: 350px;
    box-shadow: 0 40px 60px -6px black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}


.card-desc {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: white;
    overflow-y: scroll;
    transition: 0.8s ease;
    border-radius: 20px;
}

.card:hover .card-desc {
    opacity: 1;
    height: 100%;
}

.card-desc h3{
    margin: 5px;
    margin-bottom: 10px;
}

.card-desc ul{
    margin: 0 30px;
}
a{
    text-decoration: none;
}
.card a{
    text-decoration: none;
    color: rgb(255, 217, 0);
}